<mat-card>
  <div *ngIf="showEdit" class="new-comment">
    <mat-form-field>
      <textarea [(ngModel)]="comment.body" matInput placeholder="Edit comment..."></textarea>
    </mat-form-field>
    <div class="actions">
      <button mat-raised-button (click)="closeEdit()">Back</button>
      <button mat-raised-button color="primary" (click)="saveChanges()">Save</button>
    </div>
  </div>
  <div *ngIf="!showEdit">
    <mat-card-header>
      <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
      <mat-card-title>{{comment.author.userName}} </mat-card-title>
      <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
      <div *ngIf="isEditable() || isDeletable()" class="actions-buttons box" align-self="flex-end">
        <button mat-icon-button [matMenuTriggerFor]="menu" color="secondary">
          <mat-icon aria-label="Actions for this comment">more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <div *ngIf="isEditable()" mat-menu-item (click)="updateComment()">
            <mat-icon aria-label="Edit">edit</mat-icon>
            <u>Edit</u>
          </div>
          <div *ngIf="isDeletable()" mat-menu-item (click)="deleteComment()">
            <mat-icon aria-label="Delete">delete</mat-icon>
            <u>Delete</u>
          </div>
        </mat-menu>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>{{comment.body}}</p>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
      <button mat-icon-button color="primary" (click)="likeComment()">
        <mat-icon matBadge="{{getLikesCount()}}" matBadgeColor="accent" matBadgeSize="medium"
          [matBadgeHidden]="getLikesCount() === 0" aria-label="Like">thumb_up</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="dislikeComment()">
        <mat-icon matBadge="{{getDislikesCount()}}" matBadgeColor="accent" matBadgeSize="medium"
          [matBadgeHidden]="getDislikesCount() === 0" aria-label="Dislike">thumb_down</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="lookLikers()">
        <mat-icon aria-label="Users who liked">thumbs_up_down</mat-icon>
      </button>
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Share">share</mat-icon>
      </button>
    </mat-card-actions>
  </div>
</mat-card>