mat-radio-group
    display: flex
    flex-direction: row
    justify-content: center
    margin: 0 8px

.radios
    margin: 5px

mat-card-header
    padding-bottom: 5px

mat-card-content
    font-size: 15px
    margin: 10px

mat-form-field
    width: 100%
    .main-content
    display: flex
    justify-content: center
    flex-direction: column

.title
    text-align: center

.actions
    display: flex
    justify-content: space-around
    padding: 8px 0
    button
        width: 100px

.mat-dialog-content
    padding: 10px 24px

mat-icon
    cursor: default
    .mat-card
    margin: 0 -16px

.mat-card-avatar 
    height: 30px
    width: 30px

.mat-card-title
    font-size: 17px