<h2 mat-dialog-title class="title">Look who likes/dislikes your post</h2>

<!-- <mat-radio-group aria-label="Select an option">
    <mat-radio-button class="radios" name="option" value="likes" (click)="setChoice('likes')" checked>Likes
    </mat-radio-button>
    <mat-radio-button class="radios" name="option" value="dislikes" (click)="setChoice('dislikes')">Dislikes
    </mat-radio-button>
</mat-radio-group> -->
<mat-card>
    <mat-card-title>Likes:</mat-card-title>
    <mat-card-content *ngIf="usersLikes.length === 0">No likes for this post</mat-card-content>
    <div *ngIf="usersLikes.length > 0">
        <mat-card-content *ngFor="let _userl of usersLikes">
            <img mat-card-avatar src="{{_userl.avatar}}" alt="Avatar">
            <mat-card-title>{{_userl.userName}}</mat-card-title>
        </mat-card-content>
    </div>
    <mat-card-title>Dislikes:</mat-card-title>
    <mat-card-content *ngIf="usersDislikes.length === 0">No dislikes for this post</mat-card-content>
    <div *ngIf="usersDislikes.length > 0">
        <mat-card-content *ngFor="let _userd of usersDislikes">
            <img mat-card-avatar src="{{_userd.avatar}}" alt="Avatar">
            <mat-card-title>{{_userd.userName}}</mat-card-title>
        </mat-card-content>
    </div>
</mat-card>
<div class="actions">
    <button mat-raised-button (click)="close()">Back</button>
</div>