.main-content
    display: flex
    justify-content: center
    flex-direction: column

.title
    text-align: center

.actions
    display: flex
    justify-content: space-around
    padding: 8px 0
    button
        width: 100px

.mat-dialog-content
    padding: 10px 24px

mat-icon
    cursor: default


textarea
    min-height: 60px

mat-card-header
    padding-bottom: 5px

mat-card-content
    font-size: 15px
    margin: 0

mat-form-field
    width: 100%

mat-card-actions
    display: flex
    justify-content: space-between

.main-actions
    width: 100%
    margin-bottom: 20px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    .mat-icon
        font-size: 24px

.mat-spinner-wrapper 
    margin: -16px

.posts-spinner
    top: 0
    left: 15px

.no-content
    margin: auto    
    color: #607d8b

.image-container
    position: relative
    width: fit-content
    max-width: 60%
    .mat-icon
        display: none
    &:hover
        .mat-icon
            display: inline-block
            position: absolute
            right: -20px
            top: -7px
            cursor: pointer
            