<mat-card [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <div *ngIf="isEditable()" class="actions-buttons box" align-self="flex-end">
      <button mat-icon-button [matMenuTriggerFor]="menu" color="secondary">
        <mat-icon aria-label="Actions for this post">more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <div mat-menu-item (click)="updatePost()">
          <mat-icon aria-label="Edit">edit</mat-icon>
          <u>Edit</u>
        </div>
        <div mat-menu-item (click)="deletePost()">
          <mat-icon aria-label="Delete">delete</mat-icon>
          <u>Delete</u>
        </div>
      </mat-menu>
    </div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content>
    <p>{{post.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likePost()">
      <mat-icon matBadge="{{getLikesCount()}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="getLikesCount() === 0" aria-label="Like">thumb_up</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="dislikePost()">
      <mat-icon matBadge="{{getDislikesCount()}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="getDislikesCount() === 0" aria-label="Dislike">thumb_down</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="lookLikers()">
      <mat-icon aria-label="Users who liked">thumbs_up_down</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [post]="post" [currentUser]="currentUser">
    </app-comment>
  </div>
</mat-card>